.header{
    width:100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.header-logo{
    height:27px;
    max-width: 140px;
    margin-right: 24px;
}

.header-right{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header-location-search-container{
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
    width: 70%;
    background-color: rgb(255, 255, 255);
}

.location-wrapper{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0px 10px;
}
.location-icon-name{
    display: flex;
    color: #828282;
}

.location-icon{
    color: #ff7e8b;
    font-size: 20px;
    margin-right: 8px;
}
.location-search-separator{
    height: 20px;
    border: 0.5px solid rgb(207, 207, 207);
}
.header-searchBar{
    display: flex;
    flex:2;
}

.search-icon{
    font-size: 20px;
    color:#828282;
    margin: 0px 12px;
}
.search-input{
    border: none;
    outline: none;
    width: 60%;
    font-size: 14px;
}

.profile-wrapper{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}
.header-profile-image{
    height: 40px;
    width:40px;
    border-radius: 50%;
}
.header-username{
   font-size: 16px;
   font-weight: 600; 
}
.profile-options-icon{
    font-size: 20px; 
}